/*Basic styles*/
*{
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	
} 

h1 {
	text-align: center;
	color:blue;
	
}
h2 {
	text-align: center;
	background: blue;
	color: white;
	margin:0;
	width:30%; 
	float: right;
}

p {
	margin-top: 45px;
	text-align: justify;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}

section{
	height: 200px;
	overflow: auto;

}


/*Simple responsive design*/

.row{
	width: 100%;
}

/*For large device*/
@media (min-width: 992px){
	.cl-lg-1,.cl-lg-2,.cl-lg-3,.cl-lg-4,.cl-lg-5,.cl-lg-6,
	.cl-lg-7,.cl-lg-8,.cl-lg-9,.cl-lg-10,.cl-lg-11,.cl-lg-12{
		float:left;
		border: 1px solid blue;
		
	}
	.cl-lg-1{
		width: 8.33%;
	}
	.cl-lg-2{
		width: 16.66%;
	}	
	.cl-lg-3{
		width: 25%;
	}
	.cl-lg-4{
		width: 33%;
	}
	.cl-lg-5{
		width: 41.66%;
	}
	.cl-lg-6{
		width: 50%;
	}
	.cl-lg-7{
		width: 58.33%;
	}
	.cl-lg-8{
		width: 66%;
	}
	.cl-lg-9{
		width: 75%;
	}
	.cl-lg-10{
		width: 83.33%;
	}
	.cl-lg-11{
		width: 91.66%;
	}
	.cl-lg-12{
		width: 100%;
	}
}


/*For medium device*/

@media (min-width: 768px) and (max-width: 991px) {
.cl-md-1,.cl-md-2,.cl-md-3,.cl-md-4,.cl-md-5,.cl-md-6,
	.cl-md-7,.cl-md-8,.cl-md-9,.cl-md-10,.cl-md-11,.cl-md-12{
		float:left;
		border: 1px solid blue;
		
	}
	.cl-md-1{
		width: 8.33%;
	}
	.cl-md-2{
		width: 16.66%;
	}	
	.cl-md-3{
		width: 25%;
	}
	.cl-md-4{
		width: 33%;
	}
	.cl-md-5{
		width: 41.66%;
	}
	.cl-md-6{
		width: 50%;
	}
	.cl-md-7{
		width: 58.33%;
	}
	.cl-md-8{
		width: 66%;
	}
	.cl-md-9{
		width: 75%;
	}
	.cl-md-10{
		width: 83.33%;
	}
	.cl-md-11{
		width: 91.66%;
	}
	.cl-md-12{
		width: 100%;
	}

}

/*For small device*/

@media (min-width: 0px) and (max-width: 767px) {
	.cl-sm-1,.cl-sm-2,.cl-sm-3,.cl-sm-4,.cl-sm-5,.cl-sm-6,
	.cl-sm-7,.cl-sm-8,.cl-sm-9,.cl-sm-10,.cl-sm-11,.cl-sm-12{
		float:left;
		border: 1px solid blue;
	}
	.cl-sm-1{
		width: 8.33%;
	}
	.cl-sm-2{
		width: 16.66%;
	}	
	.cl-sm-3{
		width: 25%;
	}
	.cl-sm-4{
		width: 33%;
	}
	.cl-sm-5{
		width: 41.66%;
	}
	.cl-sm-6{
		width: 50%;
	}
	.cl-sm-7{
		width: 58.33%;
	}
	.cl-sm-8{
		width: 66%;
	}
	.cl-sm-9{
		width: 75%;
	}
	.cl-sm-10{
		width: 83.33%;
	}
	.cl-sm-11{
		width: 91.66%;
	}
	.cl-sm-12{
		width: 100%;
	}
}
